# Config file for automatic testing at travis-ci.org
language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"

before_install:
  - git config --global user.name="Test"
  - git config --global user.email="test@test.com"

# Install packages
install:
  - python setup.py install

# Run tests
script:
  - python setup.py test