# Config file for automatic testing at travis-ci.org
language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  # - "3.7" Not yet available
  - "nightly"
  - "pypy"
  - "pypy3"

before_install:
  - git config --global user.email "test@test.com"
  - git config --global user.name "Test"

# Install packages
install:
  - python setup.py install

# Run tests
script:
  - python setup.py test
